<h1><%= @movie.title %></h1>
<p><%= @movie.duration %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.duration %></p>

<a href="<%= @movie.description %>">Click here for description</a>
<br />
  <div class="video-container">
    <%= content_tag(:iframe, '', src:@movie.trailer, width: 560, height: 315, frameborder: 0) %>
  </div>
<br />
<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>



  <h1>Comments</h1>

  <ul>
  <% @movie.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <%= link_to 'Edit', edit_movie_comment_path(@movie, comment) %>
      <%= link_to 'Delete', movie_comment_path(@movie.id, comment.id), method: :delete %>
    </li>
  <% end %>
  </ul>

