<h1><%= @movie.title %></h1>
<p><%= @movie.duration %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.duration %></p>

open in new tab - target_blank use a regular link tag, another attribute of rel= noopener norefer - add this to our description 

<%= content_tag(:iframe, '', src:@movie.description, width: 560, height: 315, frameborder: 0) %>
<%= content_tag(:iframe, '', src:@movie.trailer, width: 560, height: 315, frameborder: 0) %>

<%= link_to 'Add Comment', new_user_comment_path(@user) %>