<h1><%= @movie.title %></h1>
<p><%= @movie.duration %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.duration %></p>

<a href="<%= @movie.description %>">Click here for description</a>
<br />
<%= content_tag(:iframe, '', src:@movie.trailer, width: 560, height: 315, frameborder: 0) %>

<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>